openapi: 3.2.0
info:
  title: emnify REST Subpackage Sim Unlinked Product Statistics API
  version: 1.0.0
  description: The emnify REST API gives programmatic access to the emnify IoT SuperNetwork — global cellular connectivity for IoT devices.
  contact:
    name: emnify Developer Support
    url: https://docs.emnify.com/developers
  license:
    name: Proprietary
    url: https://www.emnify.com/legal
servers:
- url: https://cdn.emnify.net
  description: emnify REST API base host
security:
- BearerAuth: []
tags:
- name: subpackage_simUnlinkedProductStatistics
  x-display-name: Simunlinkedproductstatistics
paths:
  /api/v1/sim/unlinked_product_stats:
    get:
      operationId: get-unlinked-product-stats
      summary: Get product statistics on unlinked eSIMs
      description: Receive statistics on how many eSIMs are unlinked (available profile status), grouped by products.
      tags:
      - subpackage_simUnlinkedProductStatistics
      parameters:
      - name: Authorization
        in: header
        description: 'An auth_token should be provided to authenticate a session.

          To obtain an auth_token, see the POST request to `/api/v1/authenticate`.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Unlinked product statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimUnlinkedProductStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    SimUnlinkedProductStatsResponse:
      type: array
      items:
        $ref: '#/components/schemas/SimUnlinkedProductStatsResponseItems'
      title: SimUnlinkedProductStatsResponse
    SimUnlinkedProductStatsResponseItems:
      type: object
      properties:
        product:
          $ref: '#/components/schemas/SimUnlinkedProductStatsResponseItemsProduct'
        quantity:
          type: integer
      required:
      - product
      - quantity
      title: SimUnlinkedProductStatsResponseItems
    SimUnlinkedProductStatsResponseItemsProduct:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      title: SimUnlinkedProductStatsResponseItemsProduct
    Error:
      type: object
      properties:
        status_code:
          type: integer
        message:
          type: string
      required:
      - status_code
      - message
      title: Error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Retrieve a JWT via POST /api/v1/authenticate using an application_token or user credentials, then send it as `Authorization: Bearer <token>`.'
