openapi: 3.1.0
info:
  title: emnify REST API
  version: 1.0.0
  description: 'The emnify REST API gives programmatic access to the emnify IoT SuperNetwork — global cellular connectivity
    for IoT devices. Manage SIMs, endpoints (devices), service and tariff profiles, events, SMS, eSIM (SGP.32) profiles, organizations,
    users, API callbacks, and the Data Streamer. Authenticate with application tokens or user credentials; tokens are short-lived
    JWTs.


    Source: emnify developer documentation (https://docs.emnify.com/developers/api). This spec is assembled from the per-operation
    OpenAPI fragments published in the emnify llms-full.txt feed.'
  contact:
    name: emnify Developer Support
    url: https://docs.emnify.com/developers
  license:
    name: Proprietary
    url: https://www.emnify.com/legal
servers:
- url: https://cdn.emnify.net
  description: emnify REST API base host
security:
- BearerAuth: []
tags:
- name: subpackage_applicationTokens
  x-display-name: Applicationtokens
- name: subpackage_authentication
  x-display-name: Authentication
- name: subpackage_automations
  x-display-name: Automations
- name: subpackage_cloudConnect
  x-display-name: Cloudconnect
- name: subpackage_customEvents
  x-display-name: Customevents
- name: subpackage_endpoint
  x-display-name: Endpoint
- name: subpackage_euicc
  x-display-name: Euicc
- name: subpackage_euiccOperation
  x-display-name: Euiccoperation
- name: subpackage_events
  x-display-name: Events
- name: subpackage_integrations
  x-display-name: Integrations
- name: subpackage_ipAddressSpaces
  x-display-name: Ipaddressspaces
- name: subpackage_lookups
  x-display-name: Lookups
- name: subpackage_operator
  x-display-name: Operator
- name: subpackage_organization
  x-display-name: Organization
- name: subpackage_passwordManagementAndActivation
  x-display-name: Passwordmanagementandactivation
- name: subpackage_serviceLookupsAndConfiguration
  x-display-name: Servicelookupsandconfiguration
- name: subpackage_serviceProfiles
  x-display-name: Serviceprofiles
- name: subpackage_sim
  x-display-name: Sim
- name: subpackage_simOperation
  x-display-name: Simoperation
- name: subpackage_simUnlinkedProductStatistics
  x-display-name: Simunlinkedproductstatistics
- name: subpackage_systemEvents
  x-display-name: Systemevents
- name: subpackage_tagManagement
  x-display-name: Tagmanagement
- name: subpackage_tariffPlans
  x-display-name: Tariffplans
- name: subpackage_tariffProfiles
  x-display-name: Tariffprofiles
- name: subpackage_userManagement
  x-display-name: Usermanagement
- name: subpackage_workspaces
  x-display-name: Workspaces
paths:
  /api/v1/api_callback:
    get:
      operationId: get-api-callback-ur-ls
      summary: Retrieve list of API callback URLs
      tags:
      - subpackage_integrations
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a list of API Callback URLs
          content:
            application/json:
              schema:
                type: array
                items:
                  description: Any type
    post:
      operationId: create-callback-url
      summary: Create a callback URL
      description: Create Callback URL
      tags:
      - subpackage_integrations
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_CreateCallbackURL_Response_201'
      requestBody:
        description: Creating an API callback URL
        content:
          application/json:
            schema:
              description: Any type
  /api/v1/api_callback/{api_callback_id}:
    get:
      operationId: get-callback-ur-lby-id
      summary: Get a callback URL by ID
      tags:
      - subpackage_integrations
      parameters:
      - name: api_callback_id
        in: path
        description: A numeric ID of an API Callback URL
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: API Callback by ID
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: API Callback with this ID not found
          content:
            application/json:
              schema:
                description: Any type
    delete:
      operationId: delete-callback-url
      summary: Delete a callback URL
      tags:
      - subpackage_integrations
      parameters:
      - name: api_callback_id
        in: path
        description: A numeric ID of an API Callback URL
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_DeleteCallbackURL_Response_200'
        '404':
          description: API Callback with this ID not found
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/api_secret:
    get:
      operationId: get-api-callback-secret
      summary: List API callback secrets
      description: "Lists API callback secrets.\n\n<Info>\n  The `secret` property itself is not returned in this call.\n\
        </Info>\n"
      tags:
      - subpackage_integrations
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a list of API Callback Secrets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1ApiSecretGetResponsesContentApplicationJsonSchemaItems'
    post:
      operationId: create-callback-secret
      summary: Create a callback secret
      description: 'Creates a new secret that may be used by API callbacks.


        When an `api_secret` is assigned to a Service Profile with an API callback, API requests towards this URL will contain
        an `Authorization` header with a JSON Web Token.

        The `api_secret` is used as the **Signing Key** of the JWT.

        '
      tags:
      - subpackage_integrations
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_CreateCallbackSecret_Response_201'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organisation_id:
                  type: string
                purpose:
                  type: string
                id:
                  type: integer
  /api/v1/api_secret/{api_secret_id}:
    get:
      operationId: get-callback-secretby-id
      summary: Get a callback secret by ID
      tags:
      - subpackage_integrations
      parameters:
      - name: api_secret_id
        in: path
        description: A numeric ID of an API secret
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: API Secret by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_GetCallbackSecretbyID_Response_200'
        '404':
          description: API Callback with this ID not found
          content:
            application/json:
              schema:
                description: Any type
    delete:
      operationId: delete-callback-secret
      summary: Delete a callback secret
      tags:
      - subpackage_integrations
      parameters:
      - name: api_secret_id
        in: path
        description: A numeric ID of an API Secret
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integrations_DeleteCallbackSecret_Response_200'
        '404':
          description: Secret with this ID not found
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/application_token:
    get:
      operationId: application-token-get
      summary: List application tokens
      description: Returns the list of application tokens for the organisation of the requesting user.
      tags:
      - subpackage_applicationTokens
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1ApplicationTokenGetResponsesContentApplicationJsonSchemaItems'
    post:
      operationId: application-token-post
      summary: Create application token
      description: 'Creates a new application token.

        ID must not be specified, as it is auto-generated and returned in case of a successful JSON response.

        You can provide following fields with this request:


        * `description` (String, optional)

        * `expiry_date` with optional time + time zone (String, optional)

        * `ip` - IP Address in CIDR notation (String, optional)

        '
      tags:
      - subpackage_applicationTokens
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application tokens_ApplicationTokenPost_Response_200'
        '422':
          description: Unprocessable Entity. See HTTP response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationTokenPostRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                expiry_date:
                  type: string
                ip:
                  type: string
  /api/v1/application_token/{app_token_id}:
    patch:
      operationId: application-token-by-id-patch
      summary: Update application token
      description: 'The `description` of the token may be updated and the

        Application Token can be revoked by updating the `status`.

        The possible statuses of tokens are


        * `"id": 0` - Activated

        * `"id": 1` - Revoked

        '
      tags:
      - subpackage_applicationTokens
      parameters:
      - name: app_token_id
        in: path
        description: application token ID
        required: true
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The server has successfully fulfilled the request and that there is no additional content to send in
            the response payload body
          content:
            application/json:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                status:
                  $ref: '#/components/schemas/ApiV1ApplicationTokenAppTokenIdPatchRequestBodyContentApplicationJsonSchemaStatus'
  /api/v1/authenticate:
    post:
      operationId: authenticate
      summary: Retrieve authentication token
      description: "Returns a [JSON Web Token (JWT)](/developers/auth/jwts) `auth_token` for authenticating further requests\
        \ to the API.\n\n<Note>\n  This API path has a rate limit of 100 requests per IP in a 5-minute window.\n  Make sure\
        \ to store your authentication token to avoid hitting this limit.\n  For more information, see [Rate limits](/developers/api-guidelines/rate-limits).\n\
        </Note>\n\n### Multi-factor authentication flow\n\nWhen multi-factor authentication (MFA) is enabled for a user account:\n\
        \n1. **Initial login**: Send your username and SHA-1 hashed password.\n  If MFA is enabled and the device isn't trusted,\
        \ you receive an `mfa_token` instead of `auth_token` in the response and a one-time password (OTP) via email.\n2.\
        \ **MFA verification**: Send the `mfa_token` with the 6-digit OTP `code`.\n  Optionally include `trusted_device` information\
        \ to skip MFA for 90 days.\n3. **Subsequent logins**: If you included a trusted device fingerprint during verification,\
        \ send your username and SHA-1 hashed password with the `fingerprint` to bypass MFA.\n\nFor more information, see\
        \ [Multi-factor authentication](/developers/auth/multi-factor-authentication).\n"
      tags:
      - subpackage_authentication
      responses:
        '200':
          description: Successful Authentication Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication_Authenticate_Response_200'
        '400':
          description: The request body is malformed or fails validation.
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: 'The response body is empty for most authentication failures (invalid credentials, suspended or deleted
            user, etc.).

            When account lockout is triggered after three consecutive failed authentication attempts, the response body contains
            the `TooManyRequests` error and further attempts are blocked for five minutes.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateRequestUnauthorizedError'
        '404':
          description: 'Unexpected error in API call.

            See HTTP response body for details.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateRequestNotFoundError'
      requestBody:
        description: "Authenticate with an [application token](/developers/auth/application-tokens).\n\n<Info>\n  **Temporary\
          \ exception**:\n  [User credentials](/developers/auth/user-credentials) are currently required for operations that\
          \ span multiple workspaces, such as switching between workspaces or transferring SIMs.\n  These APIs are being updated\
          \ to support application tokens.\n</Info>\n"
        content:
          application/json:
            schema:
              type: object
              properties:
                application_token:
                  type: string
                  description: Application token for authentication
                username:
                  type: string
                  description: Username for user credentials authentication
                password:
                  type: string
                  format: password
                  description: 'User password.

                    Must be SHA-1 hashed when authenticating with user credentials.

                    '
                fingerprint:
                  type: string
                  description: Device fingerprint for trusted device authentication (skips MFA)
                refresh_token:
                  type: string
                  description: Refresh token to obtain a new `auth_token`
                mfa_token:
                  type: string
                  description: MFA token received when MFA is enabled
                code:
                  type: string
                  description: 6-digit one-time password (OTP) for MFA verification
                trusted_device:
                  $ref: '#/components/schemas/ApiV1AuthenticatePostRequestBodyContentApplicationJsonSchemaTrustedDevice'
                  description: Device information to register as trusted (90-day MFA exemption)
  /api/v1/authenticate/workspace:
    post:
      operationId: authenticate-workspace
      summary: Switch to an assigned Workspace
      description: "Switch to an assigned Workspace and receive an authentication token for the target Workspace.\n\n<Note>\n\
        \  This endpoint requires authentication with [user credentials](/developers/auth/user-credentials) (not an application\
        \ token), as application tokens are scoped to a single Workspace.\n\n  The returned `auth_token` is valid for the\
        \ target Workspace.\n  Your original token remains valid for the source Workspace.\n</Note>\n"
      tags:
      - subpackage_workspaces
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully switched to the assigned Workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspaces_AuthenticateWorkspace_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                target_organisation:
                  $ref: '#/components/schemas/ApiV1AuthenticateWorkspacePostRequestBodyContentApplicationJsonSchemaTargetOrganisation'
              required:
              - target_organisation
  /api/v1/automation:
    get:
      operationId: list-automations
      summary: List configured automations
      description: 'Returns a list of all configured automations for the organization.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutomationOutputDto'
    post:
      operationId: create-automation
      summary: Create an automation
      description: 'Creates an automation with the configured event and selected actions, respecting the configured targets.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationOutputDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationCreateDto'
  /api/v1/automation/action:
    get:
      operationId: list-action
      summary: List available actions
      description: 'Returns a list of all available actions, as well as their possible configuration parameters and required
        fields.

        Availability depends on the parent organization.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutomationActionOutputDto'
  /api/v1/automation/action/{id}:
    get:
      operationId: get-action-by-id
      summary: Get an action by ID
      description: 'Retrieves a specified available actions, as well as the possible configuration parameters and required
        fields.

        Availability depends on the parent organization.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationActionOutputDto'
  /api/v1/automation/log:
    get:
      operationId: list-action-logs
      summary: List action logs
      description: 'Returns a list of all action logs for this organization.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: automationId
        in: query
        required: true
        schema:
          type: string
      - name: automationExecutionNumber
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutomationActionLogOutputDto'
  /api/v1/automation/recipient/email/verification:
    post:
      operationId: verify-automation-recipient-email
      summary: Verify an automation recipient's email address
      description: 'Verifies the email address of an automation recipient using the verification token sent to the recipient
        via email.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Email verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automations_verifyAutomationRecipientEmail_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRecipientEmailVerificationInputDto'
  /api/v1/automation/{id}:
    get:
      operationId: get-automation
      summary: Get configured automation by ID
      description: 'Retrieves the specified configured automation.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationOutputDto'
    delete:
      operationId: delete-automation
      summary: Delete a configured automation
      description: 'Deletes the specified configured automation.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
    patch:
      operationId: update-automation
      summary: Update an automation
      description: 'Updates an automation with the configured event and selected actions, respecting the configured targets.

        '
      tags:
      - subpackage_automations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationOutputDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationUpdateDto'
  /api/v1/breakout_region:
    get:
      operationId: breakout-region-get
      summary: List breakout regions
      description: Provides the list of available breakout regions.
      tags:
      - subpackage_lookups
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1BreakoutRegionGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/cnc/breakout:
    get:
      operationId: get-cloud-connect-attachments
      summary: List all Cloud Connect attachments of an organization
      description: 'Lists all Cloud Connect attachments of the logged in organisation if it is an Enterprise. For Master organisations

        it lists all attachments of the direct child organisations. Deleted attachments are left out by default.


        Additionally the attachments can be filtered by status and type.

        Master organisations can also filter by organisation ID of their direct child organisations.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: status
        in: query
        description: 'Numerical ID of the Cloud Connect attachment status


          * `1` - Pending Customer Action

          * `2` - Pending AWS Activation

          * `3` - Pending EGN Activation

          * `4` - Pending CRG Activation

          * `5` - Active

          * `6` - Deactivation Pending

          * `7` - Deactivated

          * `8` - Rolling Back

          '
        required: false
        schema:
          $ref: '#/components/schemas/ApiV1CncBreakoutGetParametersStatus'
      - name: type
        in: query
        description: 'Numerical ID of the Cloud Connect attachment type


          * `1` - Transit Gateway

          * `2` - IPSec VPN

          * `3` - IPSec VPN BGP

          * `4` - IPSec VPN BGP High Availability

          * `5` - Direct Connect

          * `6` - Shared

          * `7` - Transit Gateway (Classic)

          * `8` - IPSec VPN (Classic)

          '
        required: false
        schema:
          $ref: '#/components/schemas/ApiV1CncBreakoutGetParametersType'
      - name: organisation
        in: query
        description: Numerical ID of an Organization
        required: false
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CncBreakoutGetResponsesContentApplicationJsonSchemaItems'
        '403':
          description: Authentication token is valid, but user has no access permissions to the request resource
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/cnc/breakout/tgw:
    post:
      operationId: create-cloud-connect-attachment-tgw
      summary: Create a Cloud Connect attachment via Transit Gateway
      description: 'Creates a Transit Gateway breakout towards the customer AWS account.


        After the creation the following steps have to be made from the customer''s AWS account:


        1. Accept the resource share about the ''CloudConnect'' TransitGateway

        2. Create a Transit Gateway Attachment to the own VPC with the services to connect to


        More Information about this can be found on the Cloud Connect Knowledge Base article.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Response to a POST that results in a creation, usually will return a Location header pointing to the
            location of the new resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud Connect_CreateCloudConnectAttachmentTGW_Response_201'
        '400':
          description: The request is malformed, e.g. the body cannot be parsed
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: Authentication token is valid, but user has no access permissions to the request resource
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  $ref: '#/components/schemas/ApiV1CncBreakoutTgwPostRequestBodyContentApplicationJsonSchemaType'
                name:
                  type: string
                description:
                  type: string
                vpc_cidr:
                  type: array
                  items:
                    type: string
                region:
                  type: string
                  description: the region that this attachment should be established to
                aws_account_id:
                  type: string
                  description: 12-digit identifier of the own AWS Account
              required:
              - type
              - name
              - vpc_cidr
              - region
              - aws_account_id
  /api/v1/cnc/breakout/vpn:
    post:
      operationId: create-cloud-connect-attachment-vpn
      summary: Create a Cloud Connect attachment via IPSec VPN
      description: "Creates a Cloud Connect attachment via a specified VPN server.\nCurrently two attachment types are available:\n\
        \n- **Static VPN** (type `2`): Basic IPSec VPN connection\n- **Dynamic VPN with BGP** (type `3`): IPSec VPN with BGP\
        \ routing.\n  Requires `asn` (Autonomous System Number), otherwise dynamic routing is disabled.\n  Optionally accepts\
        \ `inside_cidr` for BGP tunnel interfaces.\n\nThe `on_prem_cidr` parameter specifies the CIDR ranges of your backend\
        \ network (up to 3).\nThe `public_ip` is the public IP address of your VPN server.\n\nA `psk` (Pre-Shared Key) can\
        \ be configured with 8-64 alphanumeric characters, periods (`.`), and underscores (`_`).\nIt must not begin with `0`.\n\
        If left empty, it generates automatically and can be retrieved via [`GET /api/v1/cnc/breakout/{cloudconnect_attachment_id}`](/developers/api/cloud-connect/get-cloud-connect-attachment-by-id).\n\
        \n<Success>\n  The created connection is available within 3-5 minutes.\n</Success>\n"
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: 'Attachment created successfully.

            The `Location` header contains the URL of the new resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud Connect_CreateCloudConnectAttachmentVPN_Response_201'
        '400':
          description: 'The request body is malformed or missing required fields.

            '
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: 'Your authentication token is valid, but you don''t have permission to access the requested resource.

            '
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  $ref: '#/components/schemas/ApiV1CncBreakoutVpnPostRequestBodyContentApplicationJsonSchemaType'
                  description: 'Breakout type.

                    Use `2` for Static VPN or `3` for Dynamic VPN with BGP.

                    '
                name:
                  type: string
                  description: Display name for the Cloud Connect attachment.
                description:
                  type: string
                  description: Optional description for the attachment.
                region:
                  type: string
                  description: AWS region for the attachment (for example, `eu-west-1`).
                public_ip:
                  type: string
                  description: Public IP address of your VPN server.
                psk:
                  type: string
                  description: 'Pre-shared key (PSK) for the VPN connection.

                    If empty, AWS generates one automatically.

                    '
                asn:
                  type: integer
                  description: "Autonomous System Number (ASN) for BGP routing.\n\n<Info>\n  Required for Dynamic VPN (type\
                    \ `3`).\"\n</Info>\n"
                on_prem_cidr:
                  type: array
                  items:
                    type: string
                  description: 'CIDR ranges of your backend network.

                    You can configure up to 3 ranges.

                    '
                inside_cidr:
                  type: array
                  items:
                    type: string
                  description: 'For Dynamic VPN only: /30 CIDR ranges for BGP tunnel interfaces (up to 3).

                    If empty, AWS generates them automatically.

                    '
              required:
              - type
              - name
              - public_ip
              - on_prem_cidr
  /api/v1/cnc/breakout/{cloudconnect_attachment_id}:
    get:
      operationId: get-cloud-connect-attachment-by-id
      summary: View details of a Cloud Connect attachment
      description: 'Displays the details including configured CIDR blocks of a Cloud Connect Attachment.


        For active IPSec VPN attachments, the tunnel information (public IP, outisde address, inside CIDR, PSK, ASN)

        including metrics over the last hour (tunnel state, bytes in/out) will be displayed as well.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: cloudconnect_attachment_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CncBreakoutCloudconnectAttachmentIdGetResponsesContentApplicationJsonSchemaItems'
    delete:
      operationId: delete-cloud-connect-attachment
      summary: Delete a specific Cloud Connect attachment
      description: 'Deletes the specified Cloud Connect attachment.


        Attachments cannot be deleted if they are in the state `7 (Deactivated)` or `8 (Rolling Back)` or if they are Classic
        attachments.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: cloudconnect_attachment_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response to a successful GET, also used for a POST if it does not result in a creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud Connect_DeleteCloudConnectAttachment_Response_200'
        '400':
          description: The request is malformed, e.g. the body cannot be parsed
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: Authentication token is valid, but user has no access permissions to the request resource
          content:
            application/json:
              schema:
                description: Any type
    patch:
      operationId: retry-cloud-connect-attachment
      summary: Retry creation of an expired TGW breakout
      description: 'Retries the creation of a Transit Gateway breakout where the accept attachment state has expired, meaning
        the

        attachment on the customer''s side has not been created in time.


        Retry is only allowed if:

        - The breakout is of type `Transit Gateway (type_id: 1)`

        - The breakout is in status `Pending AWS Activation (status_id: 2)`

        - The accept attachment state has expired (7 days after creation)

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: cloudconnect_attachment_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response to a successful GET, also used for a POST if it does not result in a creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud Connect_RetryCloudConnectAttachment_Response_200'
        '404':
          description: A non-existent resource is requested
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/cnc/breakout_type:
    get:
      operationId: get-cloud-connect-breakout-types
      summary: List Cloud Connect breakout types
      description: 'Lists all Cloud Connect breakout types.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CncBreakoutTypeGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/cnc/breakout_type/{breakout_type_id}/available_region:
    get:
      operationId: get-cloud-connect-available-regions-by-breakout-type
      summary: Get list of available Cloud Connect regions by breakout type
      description: 'Returns a list of regions available for use when creating new Cloud Connect breakouts of the selected
        breakout type.


        If the attachment region is peered to another one, the device breakout region will also be returned.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: breakout_type_id
        in: path
        description: 'ID of a Cloud Connect breakout type. Possible values can be retrieved with `GET /api/v1/cnc/breakout_type`.

          '
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CncBreakoutTypeBreakoutTypeIdAvailableRegionGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/cnc/pricing:
    get:
      operationId: list-cloud-connect-custom-prices
      summary: List Cloud Connect prices
      description: 'Returns a list of the configured monthly prices for Cloud Connect breakouts.


        Master organisation, Mobile Network Operators and Resellers will get the list of prices they have configured

        for their child organisations.


        Enterprise organisations will get the list of prices that apply for them.

        '
      tags:
      - subpackage_cloudConnect
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CncPricingGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/country:
    get:
      operationId: country-get
      summary: List country codes
      description: Provides the list of available countries (lookup).
      tags:
      - subpackage_lookups
      parameters:
      - name: geographic
        in: query
        description: 'Filters the country list for geographic countries only.

          This will exclude duplicate countries with different MCCs, like `India MCC 405` or `United States (311)`.

          '
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CountryGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/currency:
    get:
      operationId: currency-get
      summary: List currencies
      description: Provides the list of available currencies (lookup).
      tags:
      - subpackage_lookups
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1CurrencyGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/data_blocksize:
    get:
      operationId: data-blocksize-get
      summary: List data blocksizes
      description: Provides the list of available data blocksizes (lookup).
      tags:
      - subpackage_lookups
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1DataBlocksizeGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/data_throttle:
    get:
      operationId: data-throttle-get
      summary: List data throttles
      description: Provides the list of available data throttles (lookup).
      tags:
      - subpackage_lookups
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1DataThrottleGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/dns:
    get:
      operationId: dns-get
      summary: List DNS configs
      description: 'Retrieves a list of DNS configurations.

        DNS settings can be applied to a service profile and endpoints which use this service profile will have the associated
        DNS settings applied.

        '
      tags:
      - subpackage_serviceLookupsAndConfiguration
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1DnsGetResponsesContentApplicationJsonSchemaItems'
    post:
      operationId: dns-post
      summary: Create DNS config
      description: "Creates a DNS configuration object. The DNS config can be applied to a service profile and all endpoints\
        \ which use that service profile will have the associated DNS settings applied.\nDNS changes are instantly applied\
        \ to any **new PDP context**.\nConnected devices with previously established PDPs will continue to use the previous\
        \ nameserver config until the next time they reconnect.\n\nPrimary and secondary nameservers and IP version (`4` for\
        \ IPV4 or `6` for IPV6) must be specified with this request.\n\n<Info>\n  The system currently falls back to IPV4\
        \ for the actually-enforced networking settings of endpoints, therefore **the IPV6 parameter will be ignored** when\
        \ provided.\n</Info>\n"
      tags:
      - subpackage_serviceLookupsAndConfiguration
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service Lookups and Configuration_DnsPost_Response_201'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primary:
                  type: string
                secondary:
                  type: string
                ip_address_version:
                  type: integer
              required:
              - primary
              - secondary
              - ip_address_version
  /api/v1/dns/{dns_id}:
    delete:
      operationId: dns-by-id-delete
      summary: Delete DNS config
      description: "Delete a DNS configuration object by ID.\n\n<Note>\n  A DNS config object cannot be deleted if it is in\
        \ use by at least one Service Profile.\n</Note>\n"
      tags:
      - subpackage_serviceLookupsAndConfiguration
      parameters:
      - name: dns_id
        in: path
        description: DNS configuration ID
        required: true
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The server has successfully fulfilled the request and that there is no additional content to send in
            the response payload body
          content:
            application/json:
              schema:
                type: object
                properties: {}
  /api/v1/endpoint:
    get:
      operationId: get-endpoints
      summary: List endpoints
      description: 'Retrieves all endpoints for your organization.

        Use the query parameters to filter, sort, and paginate results.

        '
      tags:
      - subpackage_endpoint
      parameters:
      - name: q
        in: query
        description: 'Filters endpoints by field value.

          Use `<field>:<criteria>` format.

          Combine multiple filters with commas (for example, `status:0,tags:sensor`).

          '
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: 'Sorts endpoints by field value.

          Use `<operator><field>` format.

          Combine multiple sort fields with commas (for example, `-status,id`).


          **Operators:**

          - `-` descending (Z-A for text, highest number first)

          - `+` ascending (A-Z for text, lowest number first)


          Defaults to ascending order if no operator is specified.

          Defaults to `id` if no sort field is specified.

          Endpoints with identical values are sorted by ascending `id`.

          '
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Page number to retrieve.

          Starts at 1.

          '
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Number of endpoints to return per page.
        required: false
        schema:
          type: integer
          default: 1000
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returns an array of endpoint objects.

            Pagination metadata is included in the response headers.

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1EndpointGetResponsesContentApplicationJsonSchemaItems'
    post:
      operationId: create-endpoint
      summary: Create an endpoint
      description: "Creates a single endpoint with the specified configuration.\n\n<Note>\n  For bulk operations, use [`POST\
        \ /api/v2/endpoint/multi`](/developers/api/endpoint/bulk-create-endpoint) instead (supports up to 2,000 endpoints\
        \ per request).\n</Note>\n\n<Warning>\n  emnify charges for activated SIMs, even if the endpoint status is set to\
        \ **Disabled**.\n</Warning>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Endpoint created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_CreateEndpoint_Response_201'
        '400':
          description: 'Request body is malformed.

            Check JSON syntax.

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: 'IP address space is full, in use for creating another endpoint or the resource wasn''t found.

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: 'Validation failed.

            Possible causes:


            - Invalid service profile, tariff profile, or status ID

            - Invalid IP address space or organization ID

            - Endpoint data is invalid

            - Organization doesn''t belong to your reseller

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEndpointRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Display name for the endpoint.
                tags:
                  type: string
                  description: Comma-separated list of tags (for example, `sensor,outdoor`).
                imei:
                  type: string
                  description: International Mobile Equipment Identity with Software Version Number (IMEISV) (16 digits).
                imei_lock:
                  type: boolean
                  default: false
                  description: If `true`, this endpoint only allows connections from the device with the specified IMEI.
                sim:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaSim'
                  description: 'SIM card to assign to this endpoint.

                    If omitted, no SIM is assigned.

                    '
                ip_address:
                  type: string
                  description: "Private IP address to assign.\n\n<Info>\n  If provided, you must also specify `ip_address_space`.\n\
                    </Info>\n"
                service_profile:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaServiceProfile'
                  description: 'Service profile that determines network access settings.

                    Must belong to your organization.

                    '
                tariff_profile:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaTariffProfile'
                  description: 'Tariff profile that determines pricing and data limits.

                    Must belong to your organization.

                    '
                status:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaStatus'
                  description: Initial endpoint status.
                organisation:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaOrganisation'
                  description: 'Organization to create the endpoint in.

                    Required only for reseller accounts creating endpoints in sub-organizations.

                    '
                ip_address_space:
                  $ref: '#/components/schemas/ApiV1EndpointPostRequestBodyContentApplicationJsonSchemaIpAddressSpace'
                  description: "IP address space for the endpoint.\n\n<Info>\n  Required if `ip_address` is provided.\n</Info>\n"
              required:
              - service_profile
              - tariff_profile
              - status
  /api/v1/endpoint/status:
    get:
      operationId: endpoint-status-get
      summary: List endpoint statuses
      description: Returns a list of available [endpoint statuses](/developers/reference/endpoint#endpoint-statuses).
      tags:
      - subpackage_endpoint
      parameters:
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1EndpointStatusGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/endpoint/{endpoint_id}:
    get:
      operationId: endpoint-by-id-get
      summary: Endpoint details
      description: Retrieves endpoint details for a given ID.
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned the endpoint details associated with the provided `id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_EndpointByIdGet_Response_200'
    delete:
      operationId: endpoint-by-id-delete
      summary: Delete an endpoint
      description: "Deletes an endpoint and all its child entities.\n\n<Note>\n  Execute this operation sequentially - wait\
        \ for each request to complete before starting the next.\n\n  For bulk deletions, use [`DELETE /api/v2/endpoint/multi`](/developers/api/endpoint/bulk-delete-endpoint)\
        \ instead (supports up to 2,000 endpoints).\n</Note>\n\n<Info>\n  Endpoints with an assigned SIM cannot be deleted\
        \ (results in a `409` error).\n</Info>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 'Endpoints deleted successfully.

            The response payload body should be empty.

            '
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: 'Request body is malformed

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: 'Requested endpoint ID wasn''t found

            '
          content:
            application/json:
              schema:
                description: Any type
        '409':
          description: 'Requested endpoint is still referenced (for example, there is an assigned SIM)

            '
          content:
            application/json:
              schema:
                description: Any type
    patch:
      operationId: endpoint-by-id-patch
      summary: Update an endpoint
      description: "Updates the details of an endpoint.\n\n<Note>\n  Execute this operation sequentially - wait for each request\
        \ to complete before starting the next.\n\n  For bulk updates, use [`PATCH /api/v2/endpoint/multi`](/developers/api/endpoint/bulk-update-endpoint)\
        \ instead (supports up to 2,000 endpoints).\n</Note>\n\n<Warning>\n  emnify charges for activated SIMs, even if the\
        \ endpoint `status` is set to **Disabled**.\n  To avoid accruing unexpected charges, update the SIM `status` to **Suspended**\
        \ (`\"id\": 2`).\n</Warning>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Endpoint updated successfully
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Request body is malformed
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: 'User doesn''t have permission to bulk update endpoints

            '
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: 'Appears in one of the following cases:


            - IP address space isn''t found

            - IP address space is full

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: 'Appears in one of the following cases:


            - Service profile is invalid

            - Tariff profile is invalid

            - Status is invalid

            - IP address space is invalid

            - IP address is invalid

            - SIM is invalid

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointByIdPatchRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_profile:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdPatchRequestBodyContentApplicationJsonSchemaServiceProfile'
                tariff_profile:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdPatchRequestBodyContentApplicationJsonSchemaTariffProfile'
                status:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdPatchRequestBodyContentApplicationJsonSchemaStatus'
                ip_address_space:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdPatchRequestBodyContentApplicationJsonSchemaIpAddressSpace'
                sim:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdPatchRequestBodyContentApplicationJsonSchemaSim'
                name:
                  type: string
                tags:
                  type: string
                imei:
                  type: string
                imei_lock:
                  type: boolean
                ip_address:
                  type: string
              required:
              - service_profile
              - tariff_profile
              - status
              - ip_address_space
              - sim
              - name
              - tags
              - imei
              - imei_lock
              - ip_address
  /api/v1/endpoint/{endpoint_id}/connectivity:
    get:
      operationId: endpoint-connectivity-by-id-get
      summary: Endpoint connectivity status
      description: 'Retrieve details about current connectivity status of endpoint.

        The following is a list of possible statuses:


        * `ATTACHED`:

        The Endpoint has succesfully attached to the Home Core network in the past.

        The device will be shown as `ATTACHED` until the visited network has signaled that the device is inactive/offline.

        Usually the visited network informs the Core Network within 1-2 days after a device went offline.


        * `ONLINE`:

        The Endpoint has an active data connection


        * `OFFLINE`:

        The Endpoint has not attached to the core network yet or the device was previously attached but the visited network
        signaled that the device had no activity for the last 1-2 days.

        Note: The device is not reachable for external services (e.g. SMS, MSRN lookup).


        * `BLOCKED`:

        The device is not granted service. Endpoints are assigned this status when they have exceeded traffic limits.

        '
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_EndpointConnectivityByIdGet_Response_200'
    patch:
      operationId: update-endpoint-connectivity-by-id
      summary: Reset endpoint connectivity
      description: "Dispatches a message that causes either a `Cancel Location`, `Delete PDP Context`, or both sent to the\
        \ endpoint.\nThe return of the call doesn't yet mean the event has been sent towards the device.\n\n<Info>\n  Master\
        \ organization types can reset any endpoints inside their organization hierarchy.\n  Enterprises may only reset connectivity\
        \ of own endpoints.\n</Info>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful, no content.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '403':
          description: Calling organization is not of correct type.
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Endpoint not found.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pdp_context:
                  oneOf:
                  - description: Any type
                  - type: 'null'
                location:
                  oneOf:
                  - description: Any type
                  - type: 'null'
  /api/v1/endpoint/{endpoint_id}/connectivity_info:
    get:
      operationId: get-connectivity-info-by-endpoint-id
      summary: Retrieve connectivity information for an endpoint
      description: "Returns device location information based on the cell tower to which the device is connected.\n\n<Note>\n\
        \  emnify validates the data requested, sends the signal request to the network operator, and interprets the response.\n\
        \  Whether the network returns useful data is outside of emnify's control.\n\n  To distinguish these cases, this call\
        \ returns the HTTP `200 OK` response code whenever the request is successfully executed, even if it includes an error.\n\
        \  See the response body for details.\n</Note>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_GetConnectivityInfoByEndpointId_Response_200'
        '404':
          description: 'Endpoint not found.

            This error often occurs when the requested endpoint ID is incorrect or doesn''t exist.

            It can also happen if you don''t have the correct permissions to see the connectivity information or the endpoint
            doesn''t belong to the organization you''re logged in to.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectivityInfoByEndpointIdRequestNotFoundError'
  /api/v1/endpoint/{endpoint_id}/event:
    get:
      operationId: endpoint-events-by-id
      summary: List endpoint events
      description: "Returns the list of events, filtered, sorted and paged according to query parameters.\n\n<Info>\nA full\
        \ list of events is found in section \"Retrieve Event Types\" (`/api/v1/event/type`).\n</Info>\n\n<Error>\n  This\
        \ API endpoint deviates from the specified conventions and may not return the same HTTP Codes as the higher layer\
        \ call (`/api/v1/endpoint/{endpoint_id}`).\n  In case the requested `{endpoint_id}` doesn't exist or is not accessible\
        \ for the user, **HTTP 200** will be returned with empty **[]** as long as the provided `{endpoint_id}` is a number\
        \ and all parameters are valid.\n\n  Please take that into consideration when building automation on top of the error\
        \ behaviour of this endpoint.\n</Error>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        description: Numeric ID of an endpoint
        required: true
        schema:
          type: integer
      - name: page
        in: query
        description: Current page number
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Defines the number of items per page
        required: false
        schema:
          type: integer
      - name: sort
        in: query
        description: 'Sort properties according to a comma separated list of accepted fields. Valid fields are:


          * `id` - (**event id**)

          * `timestamp` - (**event timestamp**)

          * `source` - (**event source**)

          * `severity` - (**event severity**)

          * `alert` - (**alert status**)

          * `organisation` - (**organisation name**)

          * `user` - (**user id**)

          * `endpoint` - (**endpoint name**)

          * `tags` - (**endpoint tags**)

          * `ip_address` - (**endpoint ip_address**)

          * `iccid` - (**sim iccid**)

          * `imsi` - (**sim imsi**)

          * `type` - (**event type**)

          '
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: 'Filter parameter in `<filter>:<value>` format.

          Multiple filters must be a comma-separated list of the following fields:


          * `from` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, **only valid with until**)

          * `until` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, **only valid with from**)

          * `type` (**event_type**, numerical)

          * `source` (**event_type**, numerical, e.g. 0 = Network), 1 = Policy Control, 2 = API)

          * `severity` (**event_severity**, numerical, e.g. 0 = Info, 1 = Warn), 2 = Critical)

          * `alert` (boolean, e.g. true, false)

          * `description` (**event description**, string)

          * `organisation` (**organisation name**, string)

          * `user` (**user name**, string)

          * `endpoint` (**endpoint name**, string)

          * `tags` (**endpoint tags**, string)

          * `ip_address` (**endpoint IP address**, valid IPv4/IPv6 address)

          * `imei` (**endpoint imei**, numerical string)

          * `iccid` (**sim iccid**, numerical string)

          * `imsi` (**sim imsi**, numerical string)

          * `timestamp` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, for querying events of 1 day, deprecated in future)

          * `iccid_with_luhn` (**sim iccid with Luhn**, numerical string)

          * `network` (**endpoint network**, string, e.g. Telekom)

          * `rat` (**event pdp context rat type**, numerical string, e.g. 6)

          * `country` (**endpoint country**, string, e.g. Germany)


          Some filters can accept up to 6 values which must be separated by the pipe symbol (`|`) or url-encoded as (`%7C`):


          * `iccid` (q: iccid:1234567890123456789|8988303000123456789)

          * `iccid_with_luhn` (q: iccid_with_luhn:12345678901234567891|89883030001234567891)

          * `endpoint` (q: endpoint:example_endpoint_name|another_endpoint_name)

          * `type` (q: type:example_event_type|another_event_type)

          * `network` (q: network:example_network|another_network)

          * `rat` (q: rat:example_rat|another_rat)

          * `country` (q: country:example_country|another_country)

          '
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned a list of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdEventGetResponsesContentApplicationJsonSchemaItems'
        '400':
          description: '**Bad Request** due to incorrect **Paging** Parameters, **Sorting** Parameter or incorrect `{endpoint_id}`

            '
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: '**Unprocessable Entity** due to incorrect **Query** parameters

            '
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/endpoint/{endpoint_id}/operator_blacklist:
    get:
      operationId: endpoint-operator-blacklist-by-endpoint-id-get
      summary: List operator blacklist for endpoint
      description: Returns a list of blacklisted Operators for the requested Endpoint
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdOperatorBlacklistGetResponsesContentApplicationJsonSchemaItems'
  /api/v1/endpoint/{endpoint_id}/operator_blacklist/{operator_id}:
    put:
      operationId: endpoint-operator-blacklist-by-ep-id-and-operator-id-put
      summary: Add an operator to the blacklist
      description: Adds an Operator to the Blacklist of an Endpoint.
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: operator_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The server has successfully fulfilled the request and that there is no additional content to send in
            the response payload body
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '409':
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOperatorBlacklistByEpIdAndOperatorIdPutRequestConflictError'
    delete:
      operationId: endpoint-operator-blacklist-by-ep-id-and-operator-id-delete
      summary: Remove an operator from the blacklist
      description: Remove Operator from the Blacklist of an Endpoint.
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: operator_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The server has successfully fulfilled the request and that there is no additional content to send in
            the response payload body
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOperatorBlacklistByEpIdAndOperatorIdDeleteRequestNotFoundError'
  /api/v1/endpoint/{endpoint_id}/quota/data:
    get:
      operationId: endpoint-quota-data-by-endpoint-id-get
      summary: Retrieve data quota details
      description: "Returns details about the assigned Data Quota for an endpoint.\n* `status`: this indicates the current\
        \ status of the quota and may contain the following values:\n    - `ACTIVE`: the endpoint can currently connect and\
        \ has quota left\n    - `EXHAUSTED`: the endpoint has exceeded the quota volume, if it still can use data service\
        \ depends on the action chosen to be performed on exhaustion\n    - `EXPIRED`: the quota has expired; the endpoint\
        \ is denied from using data services (until new quota is added)\n* `volume`: returns the volume left on this quota\
        \ in MB\n* `expiry_date`: timestamp when this quota will expire and the endpoint will definitely be denied from using\
        \ further data services (regardless if the quota volume was used up or not)\n* `peak_throughput`: The maximum bandwidth\
        \ in octets per second after the endpoint has been throttled.\n* `action_on_exhaustion`: returns the behaviour defined\
        \ to be applied when quota volume is used up (exhausted).\n    - `Throttle`: bandwidth will be throttle to the defined\
        \ peak throughput until quota expires\n    - `Block`: data service will be instantly blocked once volume used up,\
        \ regardless if the expiry date is already reached or not\n* `auto_refill`: 0 (false) / 1 (true), refill the quota\
        \ with the last added volume on a daily basis\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_EndpointQuotaDataByEndpointIdGet_Response_200'
    post:
      operationId: endpoint-quota-data-by-endpoint-id-post
      summary: Set data quota
      description: "Set a new data quota.\nYou can set a new data quota for a device at any time.\nAt an initial state, when\
        \ no data quota is set, the device is denied from using data services.\nTo top-up the data volume, you need to retrieve\
        \ the remaining volume, increase it by the top-up volume, and set it as the new quota volume.\n\n<Warning>\n  We have\
        \ deprecated throttling as an action on quota exhaustion and the associated peak throughput parameter.\n  These were\
        \ decommissioned as of December 9, 2024.**\n</Warning>\n\nThe following parameters can be configured:\n* `status`\
        \ (required) - The status of the quota:\n  - 1: `ACTIVE`\n  - 2: `EXHAUSTED`\n  - 3: `EXPIRED`\n* `volume` - Remaining\
        \ quota volume in MB\n* `expiry_date` (required) - Timestamp when the quota expires and the device is denied from\
        \ using further data services\n* `auto_refill` (default: `0`) - Whether the quota should be refilled on a daily basis:\n\
        \  - `0`: Disabled\n  - `1`: Enabled\n* `threshold_percentage` - The remaining quota percentage when the system generates\
        \ a \"Quota threshold reached\" event\n* `action_on_exhaustion`: Action executed after the quota is exhausted:\n \
        \ - `id` (required) - Unique identifer of the action on quota exhaustion\n    - `1`: Block\n    - **DEPRECATED** `2`:\
        \ Throttle\n  - **DEPRECATED** `peak_throughput` - The maximum bandwidth in octets per second after the device has\
        \ been throttled.\n\n<Note>\n  **Events**:\n  The system generates a \"Quota used up\" event if the data quota is\
        \ completely depleted.\n  Then, the device is blocked from further consumption of data.\n  The quota object is included\
        \ in the event details.\n</Note>\n\n<Info>\n  The device can instantly use data services after successfully making\
        \ this API call.\n  You can set any timestamp with a future date.\n  This allows you to create data packages as required\
        \ (for example, 1 hour, 24 hours, 7 days, or any other timeframe).\n</Info>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_EndpointQuotaDataByEndpointIdPost_Response_201'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointQuotaDataByEndpointIdPostRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                last_volume_added:
                  type: number
                  format: double
                last_status_change_date:
                  type: string
                auto_refill:
                  type: integer
                threshold_volume:
                  type: number
                  format: double
                threshold_percentage:
                  type: number
                  format: double
                status:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdQuotaDataPostRequestBodyContentApplicationJsonSchemaStatus'
                volume:
                  type: number
                  format: double
                expiry_date:
                  type: string
                action_on_exhaustion:
                  $ref: '#/components/schemas/ApiV1EndpointEndpointIdQuotaDataPostRequestBodyContentApplicationJsonSchemaActionOnExhaustion'
              required:
              - status
              - volume
              - expiry_date
              - action_on_exhaustion
    delete:
      operationId: delete-endpoint-data-quota-by-id
      summary: Remove data quota
      description: "Will delete the data quota for the endpoint, if any is set.\n\n<Info>\n  If `apply_data_quota` is still\
        \ set in the service profile, the endpoint will get blocked from data service.\n</Info>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: 'Can be one of the following reasons:

            - No Data Quota configured

            - Endpoint not found

            - Endpoint not part of this organisation

            '
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/endpoint/{endpoint_id}/quota/sms:
    get:
      operationId: endpoint-quota-sms-by-endpoint-id-get
      summary: Show SMS quota details
      description: "Returns details about the assigned SMS Quota for an endpoint.\n\nYou can retrieve the current SMS quota\
        \ status for an endpoint with the following API call. It will return following properties:\n* `status`: this indicates\
        \ the status of the quota and may contain the following values:\n  - `ACTIVE`: the endpoint has quota left and can\
        \ use SMS services\n  - `EXHAUSTED`: the endpoint has exceeded the quota volume; the endpoint is denied from using\
        \ SMS services (until new quota is added)\n  - `EXPIRED`: the quota has expired; the endpoint is denied from using\
        \ SMS services (until new quota is added)\n* `volume`: the amount of SMS left on this quota\n* `expiry_date`: timestamp\
        \ when this quota will expire and the endpoint will definitely be denied from using further SMS services (regardless\
        \ if the quota volume was used up or not)\n* `threshold_percentage`: optional threshold in percentage indicating when\
        \ a \"Threshold Reached\" event shall be sent.\n* `action_on_exhaustion`: returns the behaviour defined to be applied\
        \ when quota volume is used up (exhausted).\n    - `Throttle`: bandwidth will be throttle to the defined peak throughput\
        \ until quota expires\n    - `Block`: data service will be instantly blocked once volume used up, regardless if the\
        \ expiry date is already reached or not\n    - `auto_refill`: 0 (false) / 1 (true), refill the quota with the last\
        \ added volume on a daily basis\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: endpoint-quota-sms-by-endpoint-id-post
      summary: Set SMS quota
      description: "At any time, a new SMS quota can be set for an endpoint.\nAt an initial state when no SMS quota is set,\
        \ the endpoint will be denied from using SMS services.\nTo top-up the SMS volume one need to retrieve the currently\
        \ left volume, increase it by the top-up volume and set it as the new quota volume.\n\nThe following parameters can\
        \ be configured:\n* `status` - The status of the quota (mandatory):\n  - 1: `ACTIVE`\n  - 2: `EXHAUSTED`\n  - 3: `EXPIRED`\n\
        * `volume`: The volume left on this quota in MB\n* `expiry_date`: Timestamp when this quota will expire and the endpoint\
        \ will definitely be denied from using further data services (mandatory)\n* `auto_refill`: Wether the quota shall\
        \ be refilled on a daily basis (defaults to disabled):\n  - 0: `disabled`\n  - 1: `enabled`\n* `threshold_percentage`:\
        \ The percentage of remaining quota at which the system should generate a `threshold reached` event\n* `action_on_exhaustion`:\
        \ The behaviour of the system after the quota is exhausted:\n  - id: ID of the action on quota exhaustion (mandatory)\n\
        \    - 1: `Block`\n    - 2: `Throttle` (will not take any effect on SMS quota)\n  - `peak_throughput`: The maximum\
        \ bandwidth in octets per second after the endpoint has been throttled.\n  Allowed values are 64000, 128000, 256000,\
        \ 384000. (will not take any effect on SMS quota)\n\n<Note>\n  The endpoint can instantly use the SMS service after\
        \ the API call is successfully made.\n  Any timestamp with a future date can be set, this allows to create SMS packages\
        \ (e.g. for 1 hour, 24 hour, 7 days or any other timeframe) as required.\n</Note>\n"
      tags:
      - subpackage_endpoint
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'An `auth_token` should be provided to authenticate a session.


          To obtain an `auth_token`, see the [`/api/v1/authenticate` **POST** request](/developers/api/authentication/authenticate).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Resource Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint_EndpointQuotaSmsByEndpointIdPost_Response_201'
      requestBody:
        content:
          application/json:
[...]
